<link rel="stylesheet" href="/assets/css/Cadastro.css">

<div id="logreg-forms">
        <form action="/Usuario/recebePost?op=inclui" class="form-signin" method="POST">
            <p style="text-align:center">Cadastro Usuario NuBanco</p>

            <input name="nome" type="text" id="user-name" class="form-control" placeholder="Nome" required="" autofocus="">
            <input name="sobrenome" type="text" id="user-name" class="form-control" placeholder="SobreNome" required="" autofocus="">
            <input name="email" type="email" id="user-email" class="form-control" placeholder="Email" required autofocus="">
            <input name="cpf" type="text" id="user-cpf" class="form-control" placeholder="CPF" required autofocus="">
            <input name="login" type="text" id="user-login" class="form-control" placeholder="Login" required autofocus="">
            <input name="senha" type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input name="senha2" type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">

            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Cadastre-Se</button>
            <a href="/" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        </form>
        <br>
</div>




<!-- porcentual = (100 - 30)


porcentual que quero tirar = (100 - porcentual)


valortotal * 0.porcentual


retornar o valor de percentual tirado o valor restante -->