{{ALERT | raw}}
<link rel="stylesheet" href="/assets/css/Welcome.css">
<div id="div">
<h1 class="shadow mt-5">NuBanco</h1>

<p>Core Desenvolvido por <a href="https://github.com/mayconmoraes-dm"><ab>Maycon de Moraes</ab></a></p>

<p>Aplicação NuBanco Desenvolvido por <a href="https://github.com/fabegalo"><ab>Fabricio Galo</ab></p></a>
<hr>
<h1>{{logado}}</h1>
</div>

<img class="shadow mb-5" id="jump" src="https://nubank.com.br/images/woman-jumping/woman-jumping@1x.jpg" alt="Mulher jovem de macacão jeans pulando uma calçada expressando liberdade.">

<img id="celular" src="https://nubank.com.br/images/home_products/home_products@1x.png" alt="Celular com o aplicativo do Nubank aberto na seção da conta e o cartão roxo do Nubank">
